body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2, h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label, input, button {
    display: block;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #36A2EB;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #258bd1;
}
